<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings</title>
    <meta name="description" content="Settings Review">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <style>
body {
  font-family: 'Roboto';
  font-size: 1.5rem;
}
table {
  border-spacing: 0.25rem;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 0.1rem 0.2rem;
}
.code {
  font-family: 'Roboto Mono';
}
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>Setting</th>
        <th>Category</th>
        <th>Human Name</th>
      </tr>
<% Object.keys(settingsMetadata).forEach(setting => {
  const meta = settingsMetadata[setting]; -%>
      <tr>
        <td class="code"><%- setting %></td>
        <td><%- getCategory(meta) %></td>
        <td><%- meta.humanName || '-' %></td>
      </tr>
<% }); -%>
    </table>
  </body>
</html>
